* {
    margin: 0;
    padding: 0;
}

.ally {
    position: absolute; 
    clip-path: inset(50%);
    width: 1px;
    height: 1px; 
    overflow: hidden;  
}

a {
    text-decoration: none;
}

a, p {
    font-size: 12px;
    line-height: 15px;
}

.cont-login {
    position: relative;
    width: 350px;
    padding: 11px 20px;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
}

.link-login {
    display: block;
    padding: 11px 10px;
    border-radius: 4px;
    margin: 16px 0;
    background: #711BFF;
    text-align: center;
    color: #fff;

}

.link-login img {
    margin-right: -4px;
    vertical-align: bottom;
}

.join-cl {
    float: right;
}

.img-find {
    vertical-align: -3px;
}

.link-id::after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 1px;
    margin-left: 5px;
    background-color: #767676;
    vertical-align: -2px;
}