body a {
    color: blue;
}

a[href] {
    color: green;
}

p#myTxt.txt {}

p::before {
    content: 'hello';
}

p::after {
    display: inline-block;
    content: '';
}

.test {
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
    padding: 10px 10px 10px 10px;
    padding: 10px 30px 10px;
    padding: 10px 30px;
    padding: 10px;
    background-color: royalblue;
}

.parent {
    height: 300px;
}